apiVersion: v1
kind: Service
metadata:
  labels:
    app: cicd-demo-app
  name: cicd-demo-app
spec:
  ports:
    - name: 8080-tcp
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    deploymentconfig: router
  sessionAffinity: None
  type: ClusterIP
